[submodule "Assets/Plugins/Events"]
	path = Assets/Plugins/UnityEvents
	url = https://github.com/Watcher-Knight/UnityEvents.git
[submodule "Assets/Plugins/Scenes"]
	path = Assets/Plugins/Scenes
	url = https://github.com/Watcher-Knight/UnityScenes.git
[submodule "Assets/Plugins/InspectorUpgrade"]
	path = Assets/Plugins/InspectorUpgrade
	url = https://github.com/Watcher-Knight/UnityInspectorUpgrade.git
[submodule "Assets/Plugins/Animation"]
	path = Assets/Plugins/Animation
	url = https://github.com/Watcher-Knight/UnityAnimation.git
[submodule "Assets/Plugins/CSharpStringFormatter"]
	path = Assets/Plugins/StringFormatter
	url = https://github.com/Watcher-Knight/CSharpStringFormatter.git
[submodule "Assets/Plugins/LinqExtensions"]
	path = Assets/Plugins/LinqExtensions
	url = https://github.com/Watcher-Knight/CSharpLinqExtensions.git
[submodule "Assets/Plugins/ObjectExtensions"]
	path = Assets/Plugins/ObjectExtensions
	url = https://github.com/Watcher-Knight/UnityObjectExtensions.git
